
*.mgcb
*.xnb

*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates
.vs/
PipelineCache/
*.nupkg
*.snupkg
packages/
*.nuspec

*.tmp
*.bak
*.log
.DS_Store
Thumbs.db
desktop.ini
.idea/
*.sln.iml
*.db
*.db-shm
*.db-wal
TestResults/
